*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "FreightBig Pro Light";
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    background-color: black;
}

#loader{
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 99;
    /* display: none; */
}

#loader h1{
    font-size: 6.9vw;
    font-weight: 100;
    line-height: 5.5vw;
    letter-spacing: -3px;
    position: relative;
    z-index: 9;
}

#loader video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 6;
}
#yellow1{
    height: 100%;
    width: 100%;
    background-color: #f5e41b;
    position: absolute;
    z-index: 8;
}

#yellow2{
    height: 100%;
    width: 100%;
    background-color: #f5e41b;
    position: absolute;
    z-index: 7;
}

#nav{
    position: absolute;
    width: 100%;
    padding: 30px 50px;
    z-index: 10;
}




#page1{
    height: 100vh;
    width: 100%;
    background-color: #f5e41b;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#page1 h1{
    font-size: 6.9vw;
    font-weight: 100;
    line-height: 5.5vw;
    letter-spacing: -3px;
}

#page2{
    background-color: black;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.elem{
    width: 100%;
    position: relative;
    /* background-color: red; */
    cursor: pointer;
}

.elem .blur{
    position: absolute;
    width: 40%;
    background-color: #f5e41b;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(to right, #f5e41b,#f5e41b,#f5e41b);

    box-shadow: 10px 0px 20px 20px #f5e41b, -10px 0px 10px 20px #f5e41b ;
    z-index: 8;
}

.elem h2{
    text-transform: uppercase;
    font-size: 7.5vw;
    font-weight: 100;
    position: relative;
    z-index: 9;
    line-height: 5.5vw;
    font-style: normal;
}

.elem .moving{
    background-color: #f5e41b;
    width: 100%;
    white-space: nowrap;
    padding: 8px 0;
    position: absolute;
    top: 50%;
    transform: translate(0,-45%) scaleY(0);
    transition: all ease 0.3s;
    overflow: hidden;
    /* opacity: 0; */
}

.elem .moving .moving-in{
    /* background-color: lightseagreen; */
    display: inline-block;
    white-space: nowrap;
    animation: moving;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.elem .moving .moving-in h5{
    color: black;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all ease 0.3s;
    transition-delay:0.2s ;
    opacity: 0;
    margin-right: 35px;
    /* font-family: "Segoe Fluent Icons"; */
    font-family: "Neue Montreal Regular";
}

@keyframes moving{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


.elem:hover .moving{
    opacity: 1;
    transform: translate(0,-45%) scaleY(1);
}

.elem:hover .moving h5{
    opacity: 1;
}

.elem:hover h2{
    font-style: italic;
}

#page3{
    background-color: white;
    min-height: 100vh;
    width: 100%;
}

.image-container{
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.image-div{
    
    width: 20vw;
    background-color: red;
    position: relative;
    overflow: hidden;
    margin: 40px 20px;
}

.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* object-position: center; */
    transition: all ease 0.5s;
}

.overlay{
    height: 100%;
    width: 100%;
    /* background-color: #0000005c; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: all ease 0.5s;
    z-index: 9;
}

.overlay p{
    font-size: 2.5vw;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    line-height: 2.5vw;
    opacity: 0;
    transition: all ease 0.5s;
    transition-delay:0.2s ;
}

.image-div:hover .overlay{
    background-color: #000;
    /* opacity: 1; */
}

.image-div:hover .overlay p{
    /* background-color: #000; */
    opacity: 1;
}

.image-div:hover img{
    scale: 1.1;
}

#footer{
    height: 40vw;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 40px;
}

#footer #foot{
    height: 50%;
    width: 100%;
    background-color: black;
}

#footer h2{
    text-transform: uppercase;
    font-size: 1vw;
    cursor: pointer;

}